/* General Body */
body {
    background-color: rgb(82, 3, 3);
    color: antiquewhite;
    text-align: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family:Verdana, Tahoma, sans-serif;
}

/* Navigation Bar */
.navbar {
    background-color: rgb(224, 195, 157);
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 16px;
    width: 100%;
    white-space: nowrap;
    padding-right: 100px;
}

/*  Navigation Title */
.navbar-brand {
    font-weight: 900;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    line-height: 50px;
    color: rgb(82, 3, 3);
}

@media screen and (min-width: 800px) {
    .navbar-brand {
        font-size: 40px;
    }
}



/* Navigation Menu Options */
.navbar a {
    color: rgb(82, 3, 3);
}

.navbar-nav li {
    font-weight: 500;
    font-size: 20px;
}

/* Navigation Underlining when Hovering */
.navbar-nav li a:hover {
    text-decoration: underline;
}

/* Dropdown menu */
.dropdown-menu {
    background-color: rgb(224, 195, 157);
    border-color: rgb(82, 3, 3);
}

/* Dropdown Underlining when Hovering */
.dropdown-menu a:hover {
    text-decoration: underline;
    background-color: rgb(224, 195, 157);
    color: rgb(82, 3, 3);
}

/* User Input Bar to Search Recipe */
#searchInput {
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 40px;
    background-color: rgb(250, 235, 215);
    color: rgb(82, 3, 3);
}

/* When user clicks to input a search, a light box-shadow appears */
#searchInput:focus {
    box-shadow: 0 0 10px rgb(235, 192, 192);
    background-color: rgb(250, 235, 215);
    outline: none !important;
    border: maroon;
}

/* Search Button, there is a class in HTML to create a light outline when clicked */
#searchBtn {
    cursor: pointer;
    color: rgb(82, 3, 3);
    background-color: rgb(224, 195, 157);
    border-color: rgb(224, 195, 157);
    border-width: 5px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
}

/* Recipe Cards */
.recipe {
    background-color: rgb(224, 195, 157);
    color: rgb(82, 3, 3);
    height: auto;
    flex-grow: inherit;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
}

/* Cocktail Cards */
.cocktail {
    background-color: rgb(224, 195, 157);
    color: rgb(82, 3, 3);
    height: auto;
    flex-grow: inherit;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
}


/* Slideshow */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 20%;
  color: rgb(224, 195, 157);
  user-select: none;
  text-decoration: none;
  font-size: 60px;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
}

.prev {
    left: 0;
}

.prev:hover, .next:hover {
  background-color: rgb(82, 3, 3);
  color: rgb(224, 195, 157);
  width: 60px;
}

.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 10px;
  margin-top: 20px;
  background-color: rgb(224, 195, 157);
  border-radius: 50%;
  display: inline-block;
}

/* Active class gets added/removed via a JS function */
.active, .dot:hover {
  background-color: rgb(224, 195, 157, .5);
}

/* Footer */
footer {
    background-color: rgb(224, 195, 157);
    color:rgb(82, 3, 3);
    font-weight: 900;
    margin-top: 20px;
    height: 60px;
    padding-top: 20px;
}

/* Modals */

.modal-content {
    margin: 30% auto;
    border: none;
}

.modal-header {
    background-color: rgb(82, 3, 3);
    color: rgb(224, 195, 157);
}

.close {
    background-color: rgb(224, 195, 157);
    color: rgb(82, 3, 3);
}

.modal-title {
    font-weight: 900;
}

.modal-body {
    background-color: rgb(250, 235, 215);
    color: rgb(82, 3, 3);
}